<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="baseRiderHome::layout8(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Update Details</div>

                    <div class="card-body">

                        <form  th:action="riderUpdating" th:object="${rider}" >

                            <input type="hidden"
                                   name="riderId" class="form-control" th:value="${rider.riderId}">
                            <input type="hidden"
                                   name="role" class="form-control" th:value="${rider.role}">
                            <input type="hidden"
                                   name="approvedStatus" class="form-control" th:value="${rider.approvedStatus}">


                            <div class="mb-3">
                                <label>Update Name</label> <input type="text" name="name"
                                                                  class="form-control" placeholder="Update Name" th:value="${rider.name}">
                            </div>
                            <input type="hidden" name="email"
                                   class="form-control" th:value="${rider.email}" >

                            <div class="mb-3">
                                <label>Update Mobile Number</label> <input type="text"
                                                                           name="phoneNumber" class="form-control" placeholder="Update PhoneNumber"  th:value="${rider.phoneNumber}">
                            </div>

                            <div class="mb-3">
                                <p>Update Gender: <input type="text" name="gender" class="form-control" th:value="${rider.gender}"></p>

                            </div>
                            <div class="mb-3">
                                <label>Update Address</label> <input type="text" name="address"
                                                                     class="form-control" placeholder="Update Address" th:value="${rider.address}">
                            </div>

                            <input type="hidden"
                                   name="password" class="form-control" th:value="${rider.password}">

                            <div class="mb-3">
                                <label>Update DOB</label> <input type="text"
                                                                 name="dateOfBirth" class="form-control" th:value="${rider.dateOfBirth}">
                            </div>

                            <button class="btn btn-info col-md-12">Update-Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

</body>
</html>