<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout3(content)">

<!--Base page3 for Admin login home page-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">FDMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active"
                                        aria-current="page" href="/admin/">Admin Home</a></li>
                <!--        <li class="nav-item">-->
                <!--          <a class="nav-link active" aria-current="page" href="myRegistration">Customer Register</a>-->
                <!--        <li class="nav-item">-->
                <!--          <a class="nav-link active" aria-current="page" href="riderRegistration">Rider Register</a>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="/logout">Logout</a>-->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="getPendingRequests">Waiting For Approval</a>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#" id="navbarDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Users
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="getAllCustomer">Customers</a></li>
                        <li><a class="dropdown-item" href="getAllRiders">Riders</a></li>
                        <li><a class="dropdown-item" href="getAllOwner">Restaurants</a></li>
<!--                        <li><hr class="dropdown-divider"></li>-->
<!--                        <li><a class="dropdown-item" href="adminRegistration">Admin Only</a></li>-->
                    </ul>

                </li>

                    </ul>
                </li>

            </ul>

        </div>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <div id="navbar-right">
        <li class="nav-item"><a class="nav-link active"  aria-current="page" href="/admin/userResponses">Response</a></li>
    </div>
<div>
        <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/logout">Logout</a></li>
    </div>
    </ul>
</nav>

<div th:replace="${content}"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>

<!--    script for symbol in app trash and update-->
<script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>