<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>

<div class ="container">

    <h1 class="text-white bg-dark text-center"> demo modal</h1>
    <button class="btn btn-success" data-target="#mymodel"
            data-toggle="modal"> Click </button>

    <div class="modal" id="mymodel">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center text-primary">you wii receive mail</h3>
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>